<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="chrome"></parameter>
<!-- <listeners>
 <listener class-name="com.rameshsoft.automation.listeners.ScrennShotFailure"></listener>
</listeners> -->
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.rameshsoft.automation.businessscripts.PomLoginOne"/>
      <!-- <class name="com.rameshsoft.automation.businessscripts.FlipkartTest"/> -->
      <!-- <class name="com.rameshsoft.automation.businessscripts.FbTest"/>
      <class name="com.rameshsoft.automation.businessscripts.Demo"/>
      <class name="com.rameshsoft.automation.businessscripts.Test"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
